*{
    margin: 0;
    padding: 0;
}
.work-sans-inter{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex {
    display: flex;
}

.text-light {
    color: rgba(255, 255, 255, 1);
}

.navbar {
    border-bottom: 0.2px solid rgb(92, 3, 114);
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    padding-top: 20px;
    padding-bottom: 20px;
}

.TW {
    font-weight: 700;
    font-size: 2rem;
    color: white;
}


.wave{
    background: linear-gradient(to left bottom,#9100F8, #FB09B4,   #F7E93F);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   

}

    
.nav-item {
    list-style: none;
    margin-right: 50px;
    
}

.nav-link {
    text-decoration: none;
    color: white;
    
}

 li a {
    font-size: 14px;
    font-weight: 2rem;
}

.nav-link:hover {
    color: #d395ff;
}

.btn-icon {
  color: white;
  background-image: linear-gradient(to left bottom,#9100F8, #FB09B4,   #F7E93F);
  border-radius: 25px;
  align-items: center;
  padding: 10px 18px;
}

.btn-icon{
    margin-left: 5px;
    align-content: center;
    align-items: center;
}

.big-head {
    background-image: url("assets/hero-bg.png");
    width: 100%;
    background-position: center;
}

.circle-mic {
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 101px;
}

.circle {
   display: absolute;
}

.mic {

    position: absolute;
    object-fit: cover;
}

#btnn {
 margin-top: -230px ;
 margin-left: 250px;
 position: absolute;
 padding: 8px 16px;
 background-color: #00FF88;
 border: none;
 font-size: 18 ;
 font-weight: 600;
 border-radius: 10px;
}

.description-container {
   margin: 50px auto;
   text-align: center;
}

.h-tech {
    margin-bottom: 10px;
    font-size: 60px ;
    font-weight: 700;
    color: white;
}

.p-wave {
    font-size: 14px;
    color: rgb(226, 218, 218);
}

.double-button {
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.spotify {
padding: 8px 16px;
background-color: blue;
text-align: center;
background-image: linear-gradient(to left bottom,#9100F8, #FB09B4,   #F7E93F);
border-radius: 25px;
}

.los {
  color: white;
  font-size: 17px;
  font-weight: 400;
  
}

.subscribe {
color: #00FF88;
padding: 11.5px 30px;
text-align: center;
background-color: transparent;
border-radius: 25px;
border: 1px solid #00FF88;
}
.big-section {
   
    background-color: #1A0B2E;
}

.about {
    color: white;
    text-align: center;
    border-bottom: 0.2px solid rgb(92, 3, 114);
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 100px;

  }

.apt {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.about-description {
    font-size: 14px;
    color: #FFFFFF;

}

.about-history {
    justify-content: space-evenly;
    text-align: center;
    margin: 0px auto;
    padding: 50px;
    align-items: center;
   max-width: 1400px;
}

.green-numbers {
    font-size: 48px;
    font-weight: 800;
    color: #00FF88;
}

.p-style {
    color: white;
    padding-top: 16px;
    font-weight: 10px;
    font-weight: 500;
}



.grid-contain {
    background-color: #230E3D;
    display: flex;
   justify-content: center;
  
    
}
 
.grid-box {
    margin: 10px;
}

#a {
    grid-area: a;
}
#b {
    grid-area: b;
}
#c {
    grid-area: c;
}
#d {
    grid-area: d;
}
#e {
    grid-area: e;
}

.grid-container {
    max-width: 1500px;
    margin: 250px auto;
    display: grid;
    gap: 30px;
    grid-template-areas:
    "a b b "
    "a c c "
    "a c c "
    "e e d ";
}

#a {
    padding: 150px 50px;
    border-radius: 30px;
    background-color: #351165 ;
    width: 400px;
}
#b {
    padding: 30px 50px;
    border-radius: 30px;
    background-color: #351165 ;
}
#c {
    padding: 30px 50px;
    border-radius: 30px;
    background-color: #351165 ;
}
#d {
    padding: 30px 50px;
    border-radius: 30px;
    background-color: #351165 ;
}
#e {
    padding: 30px 50px;
    border-radius: 30px;
    background-color: #351165 ;
}




.g-h {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
}

.g-p {
    color: rgb(206, 205, 205) ;
    font-size: 13px;
    font-weight: ;
}

#hifi {
    margin-top: 130px ;
    position: absolute;
}

#hifi h2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.yt-content-host {
    background-color: #1A0B2E;
    
}

.three-videos {
width: 1500px;
gap: 150px;
display: flex;
justify-content: space-between;
padding-top: 250px;
}

.f-e{
   position: absolute;
   margin-top: -150px;
}

#Featured-Episodes {
    color: #00FF88;
    font-size: 48px;
    font-weight: 600;
}

.yt-content {
 max-width: 360px;
 background-color: #351165;
 border: none;
 justify-content: space-around;
 padding: 15px 13px;
 border-radius: 25px;
 

}

.three-videos {
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding-bottom: 100px;
}

.yt-h3 {
    color: white;
    padding-top: 15px;
    font-size: 24px;
    font-weight: 600;
}

.yt-p {
    color: rgb(202, 201, 201);
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}

.time {
    color: #00FF88;
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 20px;
}



.f-e {
padding: 50px 200px;
position: absolute;
margin-top: -760px;
}

.feature-episodes {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.host-pic {
    border: 2px solid gold;
    grid-area: pic;
}

.host-details  {
       border: 2px solid gold;
       grid-area: dts;
       margin-left: 15px;
       align-items: center;
}

.meet-the-host {
   border: 2px solid green;
   padding: 50px;
    margin-left: 150px;
    margin-right: 150px;
    display: grid;
    grid-template-areas: 
    "pic dts";
}

