*{
    margin: 0;
    padding: 0;
}
.work-sans-inter{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex {
    display: flex;
}

.text-light {
    color: rgba(255, 255, 255, 1);
}

.navbar {
    border-bottom: 0.2px solid rgb(92, 3, 114);
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
    padding-top: 20px;
    padding-bottom: 20px;
}

.TW {
    font-weight: 700;
    font-size: 2rem;
    color: white;
}


.wave{
    background: linear-gradient(to left bottom,#9100F8, #FB09B4,   #F7E93F);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   

}

    
.nav-item {
    list-style: none;
    margin-right: 50px;
    
}

.nav-link {
    text-decoration: none;
    color: white;
    
}

 li a {
    font-size: 14px;
    font-weight: 2rem;
}

.nav-link:hover {
    color: #d395ff;
}

.btn-icon {
  color: white;
  background-image: linear-gradient(to left bottom,#9100F8, #FB09B4,   #F7E93F);
  border-radius: 25px;
  align-items: center;
  padding: 10px 18px;
}

.btn-icon{
    margin-left: 5px;
    align-content: center;
    align-items: center;
}

.bg-head {
    background-image: url("assets/hero-bg.png");
    height: 750px;
    width: 100%;
    background-position: center;
}

.circle-mic {
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 101px;
}

.circle {
   display: absolute;
}

.mic {

    position: absolute;
    object-fit: cover;
}

#btnn {
 margin-top: -230px ;
 margin-left: 250px;
 position: absolute;
 padding: 8px 16px;
 background-color: #00FF88;
 border: none;
 font-size: 18 ;
 font-weight: 600;
 border-radius: 10px;
}

.description-container {
   margin: 50px auto;
   text-align: center;
}

.h-tech {
    margin-bottom: 10px;
    font-size: 60px ;
    font-weight: 700;
    color: white;
}

.p-wave {
    font-size: 14px;
    color: rgb(226, 218, 218);
}

.double-button {
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.spotify {
padding: 8px 16px;
background-color: blue;
text-align: center;
background-image: linear-gradient(to left bottom,#9100F8, #FB09B4,   #F7E93F);
border-radius: 25px;
}

.los {
  color: white;
  font-size: 17px;
  font-weight: 400;
  
}

.subscribe {
color: #00FF88;
padding: 11.5px 30px;
text-align: center;
background-color: transparent;
border-radius: 25px;
border: 1px solid #00FF88;
}
